<nav>
  <h2>Armada</h2>
  <ul>
    <li><a href="/">Home</a></li>
    <% if (user) { %>
    <li><a href="/auth/authorize">Authorize MD</a></li>
    <% if (user.role === 'ADMIN') { %>
    <li><a href="/admin/users">Manage Users</a></li>
    <% } %>
    <li><a href="/prepare">Prepare Visit</a></li>
    <li><a href="/auth/permissions">Permissions</a></li>
    <li><a href="/preventative">Preventative</a></li>
    <li><a href="/vitality">Vitality Index</a></li>
    <li><a href="/settings">Settings</a></li>
    <% } %>
    <li><a href="/auth/login">Login</a></li>
    <li><a href="/auth/logout">Logout</a></li>
  </ul>
</nav>
