<div id="uploadDocuments">
  <form action="/user/documents/add" method="POST" enctype="multipart/form-data">
    <div>
      <label>Title</label>
      <input type="text" name="title"/>
    </div>
    <div>
      <label>System</label>
      <select name="system">
        <option label="vitals" id="vitals">vitals</option>
        <option label="neuro" id="neuro">neuro</option>
        <option label="ent" id="ent">ent</option>
        <option label="cardiac" id="cardiac">cardiac</option>
        <option label="abdo" id="abdo">abdo</option>
        <option label="msk" id="msk">msk</option>
        <option label="skin" id="skin">skin</option>
      </select>
    </div>
    <div>
      <label>Effective Date</label>
      <input type="date" name="effectiveDateTime">
    </div>
    <div>
      <label>Document</label>
      <input type="file" name="file" />
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>