page<%- include ('layouts/header') %>
<h1>Page not found or failed to load</h1>
<br />
<h3><%= error.status %> | <%= error.message %></h3>
<br />
<a href="/">â† Back to home</a>
<%- include ('layouts/footer') %>
