</head>

<body>
  <main>
    <h1>List of Documents</h1>
    <b> Add file (JPG, PNG, PDF):</b>
    <!-- <input type="file" id="myfile" name="myfile"> -->
    <a href="/user/addDocs">CLICK</a>
    <ol>
      <% for(var i=0; i < documents.length; i++) {%>
        <li>
          <b> TITLE:</b>
          <%= documents[i].title %> <br />
            <b> DOCUMENT:</b>
            <%= documents[i].documentImage %>
             <form action="/user/documents/delete/<%= documents[i]._id %>" method="post"> <button type="submit" >DELETE</button></form><br />
              <img src=' <%= documents[i].documentImage %>' height="100px" width="100px" /><br />

        </li>
        <% } %>
          <br /><br /><br /><br />

    </ol>
    <br /><br /><br /><br />
  </main>
  <script>
    function multiple(value) {
      // showList("listGallery");
      console.log(value);
      fetch(`http://localhost:3000/user/documents/delete`, { id: value })
        .then((response) => console.log(response))
    }
  </script>
</body>