<h1>Login</h1>
<form method="post" action="/auth/login" class="lg-form">
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email2" onchange=emailSave() />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>

<div>
  <p>
    Don't have an account? <span><a href="/auth/register">Register</a></span>
  </p>
</div>
<br />
<script>
  function emailSave() {
    console.log(document.getElementById('email2').value)
    localStorage.setItem('email',document.getElementById('email2').value)
  }
</script>
<%- include('./footer.ejs') %>