<%- include('./layouts/header') %>
<h1>Login</h1>
<form action="/auth/login" method="post" class="lg-form">
  <div>
     <div>
      <label for="address">Address Line 1</label>
      <input type="text" id="given" name="given" required>
  </div> 
</form>

<div>
  <p>
    Don't have an account? <span><a href="/auth/register">Register</a></span>
  </p>
</div>
<br />
<%- include('./layouts/footer') %>